body{
    background-color: rgba(5, 5, 231, 0.068);
}
.esquerda{
    font-weight: bolder;
    font-size: 20px;
    color: rgba(9, 9, 228, 0.897);
}
.botao-entrar{
    background-color:rgba(9, 9, 228, 0.897);
    color: white;
}
.nova-conta{
    background-color: rgb(9, 170, 9);
    color: white;
}
.botao-cancelar{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(214, 206, 206);
    padding-left: 15px;
    padding-right: 15px;
}
.botao-pesquisar{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color:rgba(9, 9, 228, 0.897);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -2px;
}
.cadastro-index{
    padding-top: 7px;
    padding-bottom: 7px; 
    font-weight: bolder;
}
.encontrar-conta{
    font-size: 25px;
    font-weight: bold;
}
.procurar-conta{
    padding-top: 8px;
    padding-bottom: 8px; 
    font-weight: bolder;
}
.cadastrar-se{
    font-size: 24px;
    font-weight: bolder;
}
.botao-cadastrar{
    background-color: rgb(9, 170, 9);
    padding-top: 7px;
    padding-bottom: 7px;
}
.espacamento{
    padding-top: 7px;
    padding-bottom: 7px;
}
.espaco{
    margin-left: 1px;
}
.facebook{
    color: rgba(9, 9, 228, 0.897);
    font-weight: bolder;
    font-size: 35px;
}
.paragrafo{
    font-size: 20px;
}
.esquerda2{
    width: 20%;
    float: left;
    font-weight: bolder;
    font-size: 20px;
    color: rgba(9, 9, 228, 0.897);
}
.direita2{
    text-align: right;
    margin-left: 10px;
}
.meio-index2{
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.meio-index3{
    margin-top: 30px;
    background-color: white;
}
.espaco-cadastro{
    padding-left: 80px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.inicio-index2{
    background-color: white;
    height: 80px;
}
.botao-entrar-index2{
    background-color: blue;
    color: white;
    margin-left: 600px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 50px;
    padding-left: 7px;
    
}
.normal{
    display: block;
    clear: both;
}
